@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html,
body,
#app,
.App {
  width: 100%;
  height: 100%;
  background: url('https://images.unsplash.com/16/unsplash_525d7892901ff_1.JPG') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.Home {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  padding-top: 12rem;

  > h2 {
    color: #EEE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
  }
}

.RoomForm {
}

.RoomForm__form {
  width: 100%;

  label {
    color: #B2B2B2;

    > select {
      background-color: rgba(255,255,255,0.2);
      border: none;
      color: #FCFCFC;
      border-radius: 4px;
    }
  }
}

.RoomForm__form-button {
  width: 100%;
  background: none;
  border-radius: 4px;
  border: 1px solid #EEE;
  height: 50px;
  color: #EEE;
}

@media (max-width: 420px) {
  .Home {
    padding-top: 6.5rem;

    > h2 {
      font-size: 1.5rem;
    }
  }
}
